@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject ILogger<MainLayout> _log

<div>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <DarkModeToggle></DarkModeToggle>
                <a href="https://github.com/Entroper/Messagor" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <footer class="layout-footer fixed-bottom">
        <Messages><h4>Messages</h4></Messages>
    </footer>
</div>
